@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&family=Roboto+Mono:wght@300;400;500&display=swap');

textarea::-webkit-scrollbar{
    width: 0px;
}

.entry::-webkit-scrollbar{
    width: 5px;
    height: 8px;
    background-color: rgb(53, 53, 53);
}

.entry::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
  }